/node_modules
.idea
.project
.DS_Store
npm-debug.log
/src/**/*.js
/src/**/*.js.map
/test/**/*.js
/test/**/*.js.map
/output/**/*.js
/output/**/*.js.map
/automation/**/*.js
/automation/**/*.js.map
/automation/input/*/*
/automation/output/*/*
/automation/archive/*/*
/desktop/**/*.js
/desktop/**/*.js.map
/public/main.js
/public/apexconsole.js
/public/bower_components
/cats-1.4.344.nw
.sass-cache/
dist/
/**/*.js
/**/*.js.map
abooks/**
abooks
acfg.json
executionLog.json
*.iml
/build/**/*.*

/.settings/**/*.*
/.vscode/**/*.*

src/raml1/artifacts/RAML08.json
src/raml1/artifacts/RAML10.json
src/atom/ramlscript/temp/initialWebFs.json

atom-package/
/typings/

.project
.settings

!gulpfile.js